@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
body {
    background: #060c21;
    font-size: 10px;
}
body
{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*align-items: center;*/
    min-height: 100vh;
    background: #060c21;
    font-family: 'Poppins',sans-serif;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.neon {
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    letter-spacing: 0.15em;
}
.pink {
    text-shadow:
        0 0 5px #ff7bac,
        0 0 10px #ff7bac,
        0 0 20px #ff7bac,
        0 0 40px #ff7bac,
        0 0 80px #ff7bac,
        0 0 90px #ff7bac;
}
.blue {
    text-shadow:
        0 0 5px #7bacff,
        0 0 10px #7bacff,
        0 0 20px #7bacff,
        0 0 40px #7bacff,
        0 0 80px #7bacff,
        0 0 90px #7bacff;
}
.green {
    text-shadow:
        0 0 5px #7bffce,
        0 0 10px #7bffce,
        0 0 20px #7bffce,
        0 0 40px #7bffce,
        0 0 80px #7bffce,
        0 0 90px #7bffce;
}
.orange {
    text-shadow:
        0 0 5px #ff9933,
        0 0 10px #ff9933,
        0 0 20px #ff9933,
        0 0 40px #ff9933,
        0 0 80px #ff9933,
        0 0 90px #ff9933;
}
.box
{
    margin: 10px;
    padding: 10px;
    position: relative;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
}
.box:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box:after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box:before,
.box:after
{
    background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}